# ignore these files cos shitty people on the internet want to scam people and need to get a life and stop being parasites
/TestShopStructure/cloaked.php


# ignore log files and databases
*.log
*.sql
*.sqlite
